.header {
    box-sizing: border-box;
    padding: 100px 100px 150px;
    color: #fff;
    max-width: 1520px;
    margin: 0 auto;

    @media(max-width: 768px) {
        padding: 44px 50px 100px;
    }

    @media(max-width: 576px) {
        padding: 44px 24px 45px;
    }

    .headerContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1B1C37;
        padding: 15px 60px;
        border-radius: 15px;

        @media(max-width: 1200px) {
            padding: 15px 30px;
        }

        .headerContentIcon {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            font-size: 18px;
        }

        .headerContentList {
            display: flex;
            gap: 25px;
            font-weight: 600;

            @media(max-width: 991px) {
                display: none;
            }

            li {
                position: relative;

                &:hover {
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 4px;
                        background-color: #7579FF;
                        border-radius: 4px;
                        bottom: -25px;
                        left: 0;
                    }
                }

            }
        }

        .headerContentButton {
            font-weight: 600;
            font-size: 18px;
            padding: 9px 36px;
            border-radius: 10px;
            background-color: #7579FF;
            color: #fff;

            @media(max-width: 991px) {
                display: none;
            }
        }

        .headerContentBurger {
            display: none;
            background: transparent;

            @media(max-width: 991px) {
                display: block;
            }
        }
    }
}